# Dependencies
node_modules

# Build outputs
storybook-static

# Development files
.git
.gitignore
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test files
coverage
*.test.*
*.spec.*

# Documentation
README.md
CHANGELOG.md

# K8s files (not needed in container)
k8s
