namespace: e6data

replicaCount: 1

image:
  repository: 792306802931.dkr.ecr.us-east-1.amazonaws.com/e6data/designsystem
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: ds.lmnr.cloud
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: e6ds-storybook-tls
      hosts:
        - ds.lmnr.cloud

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}
